<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
  <typeAliases>
    <!--<typeAlias alias="IUnitOfWork" type="Zeor.Repository.Base.IUnitOfWork, Zeor.Repository.Repository.Base"  />
    <typeAlias alias="UnitOfWork" type="Zeor.Repository.Base.UnitOfWork, Zeor.Repository.Repository.Base" />-->
    <typeAlias alias="ILinksService" type="Zeor.Interface.ILinksService, Zeor.Interface" />
    <typeAlias alias="LinksService" type="Zeor.Implement.LinksService, Zeor.Implement" />
  </typeAliases>
  <container>
    <!--<extension type="Interception" />-->
    <!--<register type="IUnitOfWork" mapTo="UnitOfWork" />-->
    <register type="ILinksService" mapTo="LinksService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="Zeor.Interceptor.ExceptionLogBehavior, Zeor.Interceptor"/>
    </register>
  </container>
</unity>
